
<div th:fragment="carrito_items_detalle" class="seccion-carrito">
    <div th:unless="${#lists.isEmpty(carritoProductos)}"
        th:each="cp : ${carritoProductos}" 
        class="carrito-prod-card">
        
        <img th:if="${cp.producto.imagen}" 
             th:src="|/images/productos/${cp.producto.imagen}|"
             th:alt="|Imagen de ${cp.producto.nombre}|">
                       
        <img th:unless="${cp.producto.imagen}"
             th:src="|/images/productos/producto_placeholder.jpg|"
             th:alt="|Imagen de ${cp.producto.nombre} no disponible|">
                        
        <div class="carrito-prod-card-info">
            <p class="nombre-producto">
                <a th:href="@{|/producto_detalle/${cp.producto.id}|}" th:text="${cp.producto.nombre}">Nombre del Producto</a>
            </p>
            <p th:text="'Precio: $' + ${cp.precio_producto}" class="precio">Precio</p>
            <p th:text="|Unidades: ${cp.cantidad_producto}|">Unidades</p>
            <p th:text="'Total: $' + ${#numbers.formatDecimal(cp.cantidad_producto * cp.precio_producto, 1, 2)}">Total</p>
        </div>
        
    
</div>
