

<div th:fragment="contacto-tarjeta" class="contacto-tarjeta">
    
    <img 
        th:src="|/images/logo2.png|"
        th:alt="'Logo de Cyberkiosco'">
    
    <div class="contacto-tarjeta-panel">
        <div class="contacto-tarjeta-info">
            
            <div class="red-contacto">
                <img src="/images/iconos/contacto/whatsapp.png">
                <p>+54 9 11 1234-5678</p>
            </div>
            
            <div class="red-contacto">
                <img src="/images/iconos/contacto/Email.png">
                <p>cyberkiosco@email.com</p>
            </div>
            
            <div class="red-contacto">
                <img src="/images/iconos/contacto/Instagram.png">
                <p>@cyberkiosco</p>
            </div>
            
            <div class="red-contacto">
                <img src="/images/iconos/contacto/facebook.png">
                <p>@cyberkiosco</p>
            </div>
            
        </div>
    </div>
    
</div>

