<div th:fragment="error-main (title, errorCode, message)"
     class="container">

    <h1 th:text="${title}">Error Genérico</h1>

    <img th:src="|/images/cubiertos_cruzados.jpg|" class="error-image">
    <a
        href="https://www.freepik.es/foto-gratis/vista-superior-plato-rosado-tenedor-cuchillo-fondo-oscuro_14267091.htm#fromView=keyword&page=3&position=7&uuid=c4fdeb7d-8d5f-4f46-b9c4-74db5ff1387f&query=Cubiertos+cruzados"
        class="autoria-imagen">Imagen
        de mdjaff en Freepik
    </a>

    <p class="error-text" th:text="${message}">Mensaje predeterminado de error.</p>

    <p class="error-text">Vuelve al inicio por favor, clickeando en el logo o haciendo click <a th:href="@{/}">aquí</a>.</p>
</div>