<header th:fragment="header-nav" xmlns:th="http://www.thymeleaf.org" 
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <a th:href="@{/}">
        <img class="img-logo" th:src="@{/images/logo.png}" alt="Logo de Cyberkiosco">
    </a>
    
    <nav>
        <ul>
            <li sec:authorize="hasAuthority('Usuario')">
                <a href="/productos">Productos</a>
            </li>

            <li sec:authorize="hasAuthority('Usuario')">
                <a href="/carrito">Carrito</a>
            </li>
            <li sec:authorize="hasAuthority('Usuario')">
                <a href="/carrito/lista_compras">Mis Compras</a>
            </li>

            <li sec:authorize="hasAuthority('Usuario')">
                <a href="/contacto">Contacto</a>
            </li>
            <li sec:authorize="hasAuthority('Administrador')">
                <a href="/admin/marcas"> Menu Marcas</a>
            </li>
            
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/usuario/login}">Iniciar Sesión</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit" style="background: none; border: none; cursor: pointer; font-size: 1.1rem; font-weight: bold; color: var(--color-terciario);">
                        Cerrar Sesión
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>
