
<form th:fragment="login-form"
    th:action="@{/usuario/login/credenciales}" 
    method="post"
    class="login-form"
    >

    <div class="login-input-container">
        <label for="mail">Email</label>
        <input type="email" 
               name="mail"
               minlength="5"
               maxlength="255"
               required
            >
    </div>
    
    <div class="login-input-container">
        <label for="password">Password</label>
        <input type="password" 
               name="password" 
               minlength="5"
               maxlength="255" 
               required
            >
    </div>
    
    <button type="submit" class="btn-logIn">Iniciar Sesión</button>
    
</form>


