<div th:fragment= "menu-marca" class="table-menu"> 
    <a href="#" class="btn-agregar">agregar marca</a>
    <table>
        <thead>
            <tr th:each= "column:${columns}">
                <th> Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each= "row:${rows}">
                <td th:text="${row.nombre}">
                    nombre
                </td>
                <td>
                    <a th:href= "@{|/admin/marca/editar/${row.id}|}"> modificar</a>
                </td>
                <td>
                    <a href="#"> eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>