

<div th:fragment="prod-tarjeta" class="prod-tarjeta">
    <img th:if="${producto.imagen}" 
        th:src="|/images/productos/${producto.imagen}|"
        th:alt="|Imagen de ${producto.nombre}|">
                       
    <img th:unless="${producto.imagen}"
        th:src="|/images/productos/producto_placeholder.jpg|"
        th:alt="|Imagen de ${producto.nombre} no disponible|">
    
    <div class="prod-tarjeta-panel">
        <div class="prod-tarjeta-info">
            <p th:text="${producto.nombre}" class="nombre-producto">Nombre del Producto</p>

            <p th:if="${producto.descripcion}" 
               th:text="${producto.descripcion}"
               class="prod-descripcion">
                Descripcion del Producto
            </p>

            <p th:unless="${producto.descripcion}" 
               class="prod-descripcion">
                No hay descripcion disponible para este producto.
            </p>

            
            <p class="prod-atributo">
                <a th:href = "@{|/productos_por_categoria?idcategoria=${producto.categoria.id}|}" th:text="'Categoria: ' + ${producto.categoria.nombre}">Categoria</a>
            </p>

            <p class="prod-atributo">
                <a th:href = "@{|/productos_por_marca?idmarca=${producto.marca.id}|}" th:text="'Marca: ' + ${producto.marca.nombre}">Marca</a>
            </p>
            
            <p th:text="'Precio: $' + ${producto.precio}" class="prod-atributo">Precio</p>

            <p th:text="|Stock: ${producto.stock}|" class="prod-atributo">Stock</p>
        </div>
        
        <div class="tarjeta-menu-compra">
            <form th:action="@{/carrito/agregar}" method="post">
                <input type="hidden" name="idProducto" th:value="${producto.id}"/>
                <input type="number" name="cantidad" min="1" step="1" value="1" th:max="${producto.stock}" required>
                <button type="submit" class="boton-agregar">Agregar al carrito</button>
            </form>
        </div>
        
    </div>
    
</div>

