
<div th:fragment="seccion-carrito" class="seccion-carrito">
    
    <div th:if="${#lists.isEmpty(carritoProductos)}" class='carrito-vacio'>
        <h2>El carrito está vacío</h2>
        <p>Agregá productos para comenzar tu compra.</p>
    </div>
    
    <div th:unless="${#lists.isEmpty(carritoProductos)}"
        th:each="cp : ${carritoProductos}" 
        class="carrito-prod-card">
        
        <img th:if="${cp.producto.imagen}" 
             th:src="|/images/productos/${cp.producto.imagen}|"
             th:alt="|Imagen de ${cp.producto.nombre}|">
                       
        <img th:unless="${cp.producto.imagen}"
             th:src="|/images/productos/producto_placeholder.jpg|"
             th:alt="|Imagen de ${cp.producto.nombre} no disponible|">
                        
        <div class="carrito-prod-card-info">
            <p th:text="${cp.producto.nombre}" class="nombre-producto">Nombre del Producto</p>
            <p th:text="'Precio: $' + ${cp.precio_producto}" class="precio">Precio</p>
            <p th:text="|Unidades: ${cp.cantidad_producto}|">Unidades</p>
            <p th:text="'Total: $' + ${#numbers.formatDecimal(cp.cantidad_producto * cp.precio_producto, 1, 2)}">Total</p>
        </div>
        
        <form th:action="@{/carrito/sacar}" method="post" class="btn-sacar-form">
            <input type="hidden" name="idProducto" th:value="${cp.producto.id}"/>
            <button type="submit" class="btn-sacar">
                <img src="/images/iconos/icono-eliminar.png" alt="tacho eliminar">
            </button>
        </form>
        
    </div>
    
    <div th:unless="${#lists.isEmpty(carritoProductos)}" class="compra-carrito-panel">
        <p th:text="'Precio Total: $' + ${#numbers.formatDecimal(precioTotalCarrito, 1, 2)}">Precio Total</p>
        <form th:action="@{/carrito/comprar}" method="post" class="comprar-carrito-form">
            <input type="hidden" name="idCarrito" th:value="${carrito.id}"/>
            <input type="hidden" name="precioTotalCarrito" th:value="${precioTotalCarrito}"/>
            <button type="submit" class="btn-comprar-carrito">
                Comprar Carrito
            </button>
        </form>
    </div>
    
</div>

