:root {
    --color-principal: rgb(255, 174, 120);
    --color-secundario: rgb(255, 249, 242);
    --color-terciario: rgb(41, 24, 8);
    --gris-oscuro: rgb(130, 129, 129);
    --gris-claro: rgb(209, 207, 207);
    --prod-card-size: 250px;
    --prod-grid-max: calc((var(--prod-card-max) * 4));
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    color: var(--color-terciario);
    background-color: var(--color-secundario);
    text-align: center;
    padding-bottom: 1rem;
}

footer {
    padding-top: 1rem;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
}

main {
    background-color: var(--color-principal);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: var(--color-terciario);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(41, 24, 8);
    color: #fff;
}

.img-logo {
    max-height: 10rem;
    max-width: 20rem;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.prod-grid {
    background-color: var(--color-secundario);
    border-radius: 10px;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--prod-card-size), 1fr));
    gap: 1rem;
    width: 85%;
    /*max-width: calc((var(--prod-card-size) + 4rem) * 4);*/
}

.prod-card {
   background-color: var(--color-principal);
   border-radius: 10px;
   display: grid;
   grid-template-rows: 2fr 1fr;
}

.prod-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.prod-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.prod-card-info {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: var(--color-terciario);
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    color: var(--color-secundario);
}

.prod-card-info .nombre-producto {
    font-size: 2.25rem;
    font-weight: bold;
}

.prod-card-info .precio {
    margin-top: 0.5rem;
    font-size: 2rem;
}

/*
.prod-card p {
    font-size: 0.9rem;
    color: #666;
    padding: 0 15px 15px;
    margin: 0;
}
*/

.pagination-container {
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-secundario);
    padding: 2rem;
    margin-bottom: 2rem;
}

.pagination-container ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    gap: 5px;
}

.pagination-container li {
    display: inline;
    color: var(--color-terciario);
}

.pagination-container a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid var(--gris-claro);
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    color: var(--color-terciario); 
}

.pagination-container a:hover {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border-color: var(--color-terciario);
    font-weight: bold;
}

.pagination-container li.active a {
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    border-color: var(--gris-claro);
    font-weight: bold;
}

.pagination-container li.disabled a {
    color: var(--color-terciario);
    pointer-events: none;
    background-color: var(--gris-claro);
}

