:root {
    --color-principal: rgb(255, 174, 120);
    --color-secundario: rgb(255, 249, 242);
    --color-terciario: rgb(41, 24, 8);
    --gris-oscuro: rgb(130, 129, 129);
    --gris-claro: rgb(209, 207, 207);
    --prod-card-size: 250px;
    --prod-card-max-size: 300px;
    --prod-grid-max: calc((var(--prod-card-max) * 4));
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    color: var(--color-terciario);
    background-color: var(--color-secundario);
    text-align: center;
    padding-bottom: 1rem;
}

footer {
    padding-top: 1rem;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
}

main {
    background-color: var(--color-principal);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: var(--color-terciario);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(41, 24, 8);
    color: #fff;
}

.img-logo {
    max-height: 10rem;
    max-width: 20rem;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

/*
    Matriz y cartas de productos:
*/

.prod-grid {
    background-color: var(--color-secundario);
    border-radius: 10px;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--prod-card-size), var(--prod-card-max-size)));
    gap: 1rem;
    min-height: calc(var(--prod-card-max-size) + 50px);
    max-width: 100%;
}

.prod-card {
   background-color: var(--color-principal);
   border-radius: 10px;
   display: grid;
   grid-template-rows: 1.5fr 1fr;
   text-decoration: none;
   /*
   max-width: var(--prod-card-max-size);
   max-height: var(--prod-card-max-size);
   */
}

.prod-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.prod-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.prod-card-info {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: var(--color-terciario);
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    color: var(--color-secundario);
}

.prod-card-info .nombre-producto {
    font-size: 2.25rem;
    font-weight: bold;
}

.prod-card-info .precio {
    margin-top: 0.5rem;
    font-size: 2rem;
}

/*
    Paginacion:
*/

.pagination-container {
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-secundario);
    padding: 2rem;
    margin-bottom: 2rem;
}

.pagination-container ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    gap: 5px;
}

.pagination-container li {
    display: inline;
    color: var(--color-terciario);
}

.pagination-container a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid var(--gris-claro);
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    color: var(--color-terciario); 
}

.pagination-container a:hover {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border-color: var(--color-terciario);
    font-weight: bold;
}

.pagination-container li.active a {
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    border-color: var(--gris-claro);
    font-weight: bold;
}

.pagination-container li.disabled a {
    color: var(--color-terciario);
    pointer-events: none;
    background-color: var(--gris-claro);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-width: 250px;
    margin-bottom: 1rem;
}

.search-bar{
    height: 35px;
}

.search-bar input {
    font-size: 1rem;
}

.boton-busqueda {
    width: 45px;
    height: 100%;
}

.boton-busqueda img {
    width: 100%;
    height: 100%;
}

/*
    producto_detalle
*/

.prod-tarjeta {
    background-color: var(--color-secundario);
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1.25fr;    
}

.prod-tarjeta img {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 300px;
}

.prod-tarjeta-panel {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    justify-self: center;
}

.prod-tarjeta-info {
    width: 100%;
    justify-self: center;
    padding-bottom: 1rem;
    color: var(--color-terciario);
}

.prod-tarjeta-info .nombre-producto {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.prod-tarjeta-info .prod-descripcion {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.prod-tarjeta-info .prod-atributo {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.tarjeta-menu-compra {
    height: 2rem;
}

.tarjeta-menu-compra form {
    height: 100%;
}

.tarjeta-menu-compra form input {
    max-width: 4rem;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.tarjeta-menu-compra form button {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border-color: var(--color-terciario);
    border-radius: 10px;
    border-width: 2px;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}


/*
    Contacto:
*/

.contacto-tarjeta {
    background-color: var(--color-secundario);
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;    
}

.contacto-tarjeta img {
    border-radius: 10px 0 0 10px;
    max-width: 400px;
    height: 100%;
}

.red-contacto {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.contacto-tarjeta-panel {
    width: 90%;
    height: 90%;
    margin: auto;
    justify-self: center;
}

.contacto-tarjeta-panel img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.contacto-tarjeta-panel p {
    color: var(--color-terciario);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.contacto-tarjeta-info {
    height: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
}


