:root {
    --color-principal: rgb(255, 174, 120);
    --color-secundario: rgb(255, 249, 242);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    color: rgb(41, 24, 8);
    background-color: var(--color-secundario);
    text-align: center;
    padding-bottom: 1rem;
}

footer {
    padding-top: 1rem;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
}

main {
    background-color: var(--color-principal);
    color: #fff;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: rgb(41, 24, 8);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(41, 24, 8);
    color: #fff;
}

.img-logo {
    max-height: 10rem;
    max-width: 20rem;
}



