* {
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif, Arial;
    background-color: rgb(255, 174, 120);
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: box;
    background-color: rgb(255, 249, 242);
    text-align: center;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.img-logo {
    max-height: 10rem;
    max-width: 20rem;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: rgb(41, 24, 8);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(41, 24, 8);
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 2rem auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


