<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyberkiosco</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/images/iconos/favicon.png}">
    </head>

    <body>
        
        <header th:replace="fragments/header :: header-nav"></header>
        
        <main>
            <div class="container">
            <div th:if= "${menuMarca}">
                    <div th:replace= "fragments/menu-marca :: menu-marca"></div>
            </div>

            <div th:if= "${marcaeditar}">
                    <div th:replace= "fragments/menu-marca-edit :: menu-marca-edit"></div>
            </div>

            <div th:if= "${marcacrear}">
                <div th:replace= "fragments/menu-marca-create :: menu-marca-create"></div>
            </div>

            <div th:if= "${menuCategoria}">
                    <div th:replace= "fragments/menu-categoria :: menu-categoria"></div>
            </div>

            <div th:if= "${categoriaeditar}">
                    <div th:replace= "fragments/menu-categoria-edit :: menu-categoria-edit"></div>
            </div>

            <div th:if= "${categoriacrear}">
                <div th:replace= "fragments/menu-categoria-create :: menu-categoria-create"></div>
            </div>
            </div>
            
        </main>
        
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
    
</html>