<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyberkiosco</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    </head>

    <body>
        
        <header th:replace="fragments/header :: header-nav"></header>
        
        <main>
            <div class="container">
               
                <div class="prod-grid">
                    
                    <div th:each="producto: ${productos}" class="prod-card">
                        
                        <img th:if="${producto.imagen}" 
                             th:src="|/images/productos/${producto.imagen}|"
                             th:alt="|Imagen de ${producto.nombre}|">
                       
                        <img th:unless="${producto.imagen}"
                             th:src="|/images/productos/producto_placeholder.jpg|"
                             th:alt="|Imagen de ${producto.nombre} no disponible|">
                        
                        <div class="prod-card-info">
                            <h3 th:text="${producto.nombre}">Nombre del Producto</h3>
                            <h2 th:text="'$' + ${producto.precio}">Precio</h2>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </main>
        
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>


